/* Tutto il corpo */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 600px) {    
  
    box-sizing: border-box;
  }
  head {
    font-size: 14px;
    background-color: #b710d893;
  }
  
  body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #d1c0e1dd;
}
 /* Header */
.header {
  background-color: #333;
  color: #8d19b0;
  padding: 20px;
  text-align: center;
}
  div {
    padding: 50px;
  }
  section {
    padding: 20px;
  }
  .profilo {
    font-size: 14px;
  }
  .profilo-constanza {
    font-size: 14px;
  }





/