/* Alineaci贸n vertical */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
} 
/* Alineaci贸n vertical */
header{
    background-color: #724caf;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
.logo {
  display: flex;
  align-items: riht; 
  flex-direction: column; /* Alineaci贸n vertical */
  justify-content: center; /* Centrado horizontal */
  padding: 10px;
       /* Separaci贸n del contenido siguiente */
}

.logo img {
  max-width: 100%;
  height: auto;
}
main{
    padding: 100px;
    border-left: 50%;
    background-color: #ffffff;
    max-width: 1200px;
    margin: auto;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}